header{
    margin: -10px;
    background-color: #f8f8f8;
}

header ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.5em;
    margin: 0;
}

header li{
    margin: 0 15px;
}

header .logo{
    margin-right: auto;
}

header img.logo{
    width: 50px;
}